@model MyUniversity.Models.Student

<h2>New student</h2>
<form asp-action="Create" asp-controller="Student">
    <p>
        <label asp-for="FirstName">First name</label><br />
        <input type="text" asp-for="FirstName" />
        <br />
        <label asp-for="LastName">Last name</label><br />
        <input type="text" asp-for="LastName" />
    </p>
    <p>
        <label asp-for="GroupId">Group</label><br />
        <select asp-for="GroupId" asp-items="@(ViewBag.AllGroups)">
            <option value="">Select a group</option>
        </select>
    </p>
    <p>
        <input type="submit" value="Save" />
    </p>
</form>