@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Main Page";
}

<h1>Welcome to the Main Page</h1>

<a asp-controller="Course" asp-action="Index">View Courses</a>
<br />
<a asp-controller="Group" asp-action="Index">View Groups</a>
<br />
<a asp-controller="Student" asp-action="Index">View Students</a>
